body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
}

.container {
    width: 100%;
    background-color: black;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.col4>a {
    border: none;
    background-color: white;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}



.col3>a {
    color: greenyellow;
    text-decoration: none;
}

.col1 {
    font-size: 22px;

}

.col2{
}

