body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
}

.container {
    width: 100%;
    background-color: black;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.col4>a {
    border: none;
    background-color: white;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: .8rem;

}



.col3>a {
    color: greenyellow;
    text-decoration: none;
    font-size: .8rem;

}

.col1 {
    font-size: 1.2rem;
    font-weight: 500;

}

.col2{
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container{
    width: 100%;
    flex-direction: column;
     height: 150px;
     justify-content: space-around;
     padding: 18px;
     gap: 20px;

  }
     /* .col4>a {margin-top: 20px;} */
     .col3>a {
        /* margin-bottom: 10px; */
     }

     .col2{
        display: none;
}
}
